/*Reset untuk menyamakan tampilan di semua browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Kotak utama login */
.login-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 24px;
    color: #333;
}

/*jarak antar input form*/
.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

/*efek border berubah warna saat kolom input di klik*/
.input-group input:focus {
    border-color: #007bff;
}

/*styling untuk pesan error JavaScript*/
.error-massage {
    color: #dc3545;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
    display: none; /*disembunyikan dulu, muncul lewat JS kalau error*/

}

/*Tombol Login */
.btn-login {
    width: 100%;
    padding: 12px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: backround 0.3s ease;
}

.btn-login:hover {
    background: #0056b3;
}

/*text bagian bawah*/
.footer-links {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.footer-links a {
    color: #007bff;
    text-decoration: none;
}

.footer-links a :hover {
    text-decoration: underline;
}